*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/* banner section start */
.banner{
	background-color: rgba(6, 12, 34, 0.8);
	z-index:999;
	position:sticky;
	top:0;
}
.sticky-top{
	
}
.navbar-brand{
	color:red;
}
.navbar-brand img{
	width:60%;
	height:auto;
}
.nav-item{
	padding:0rem 0.25rem;

}
.nav-item a{
	color:#e3d6d6d6 !important;
	position:relative;
}
.nav-item a::after{
	content:"";
	width:0%;
	height:2px;
	display:block;
	position:absolute;
	top:100%;
	bottom:0;
	right:0;
	left:0;
	background-color:red;
	transition:0.5s all linear;
}
.nav-item a:hover::after{
	width:100%;
}

/* banner section end */
/* home section start */

.home{
	width: 100%;
	height:90vh;
    background: url(../img/hero-bg.jpg) top center;
    background-size: cover;
    overflow: hidden;
	background-attachment:fixed;
    position: relative;
}
.home::before{
	content: "";
    background: rgba(6, 12, 34, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.home-col{
	z-index:2;
	align-self:center !important;
	
}
.home-title{
	font-size:60px !important;
}
.play-icon{
	width:50px;
	height:50px;
	border-radius:50%;
	background-color:red;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
	animation:play 2s linear infinite;
}
@keyframes play{
	0%{
		box-shadow:0px 0px 0px 0px #ff00004f,0px 0px 0px 0px #ff00004f;
	}
	50%%{
		box-shadow:0px 0px 0px 5px #ff00004f,0px 0px 0px 5px #ff00004f;
	}
	100%{
		box-shadow:0px 0px 0px 10px #ff00004f,0px 0px 0px 10px #ff00004f;
	}
} 
	/* home section end */
	/* about section start */
			
.about{
	width: 100%;
	height:auto;
    background:linear-gradient(#02184a9e,#02184a9e), 
	url(../img/about-bg.jpg) top center;
    background-size: cover;
    overflow: hidden;
	background-attachment:scroll;
    position: relative;
    color: #fff;
    padding: 80px 0 40px 0;
 }
	/* about section end */
	/* event section start */
	
.event{
	padding:3rem 0 2rem 0;
}
.sec-title{
	text-align:center;
	padding:2rem 0;
}
.sec-title h2{
	color:#0e1b4d;
	font-size:2.5rem !important;
}
.sec-title p{
	color:#b0b3bc;
	font-size:1.3rem !important;
	position:relative;
	padding-bottom:2rem;
}
.sec-title p::after{
	content:"";
	width:100px;
	height:4px;
	background-color:red;
	display:block;
	position:absolute;
	left:46%;
	bottom:0%;
}
	/* sec-title is for all section tile content */
.event-img{
	width:100%;
}
.event-img img{
	width:100%;
	height:auto;
}
.event-container{
	position:relative;
	overflow:hidden;
}
.event-content{
	position: absolute;
    color: white;
    background-color: #2a2c3b;
    bottom: -11%;
    width: 100%;
    text-align: center;
    opacity: 0.8;
	transition:0.4s all linear;
}
.event-content h2:hover{
	color:red;
}
.event-container:hover .event-content{
	bottom:1px;
}
.event-icon{
	padding-bottom:0.5rem;
}
.event-icon a{
	color:white;
	font-size:1rem;
	padding-right:0.25rem;
}

/* event section end */
/* schedule section start */

.schedule{
	background-color:#f6f7fd;
	padding:3rem 0 2rem 0;
}
.day button{
	background-color: #2a2c3b;
	width:250px;
	height:50px;
	font-weight:600;
}
.day button:hover{
	background-color:red;
}
.day p{
	color:#404a73;
	font-size:1.3rem;
}
.day-bord{
	border-bottom:1px solid #00000036;
	padding:10px 0;	
	transition:0.4s all linear;
}
.day-bord:hover{
	background-color:white;
}
.day-bord .row .col-lg-3 p{
	text-align:center !important;
}
.day-bord h3{
	font-size:1.5rem !important;
}
.day-bord h3 span{
	font-weight:300;
	font-size:1.2rem !important;	
}
.sch-img{
	float: left;
    width: auto;
    height: auto;
    margin-right: 1rem;
}
.sch-img img{
	width: 65px;
    height: 65px;
    border-radius: 50%;
}

/* schedule section end */
/* venue section start */

.venue{
	overflow:hidden;
	padding-top:20px;
}
iframe{
	width:100%;
	height:100%;
}
.venue-info{
	background-image:linear-gradient(#0000008f,#0000008f),
					url(../img/venue-info-bg.jpg);
	background-position:center;
	background-size:cover;
	overflow:hidden;
}
.venue-scale{
	padding:0px !important;
		overflow:hidden !important;
}
.venue-scale img{
	width:100%;
	height:auto;
	padding:0px 5px 0px 0px !important;
	overflow:hidden !important;
	transition:all 0.4s linear;
}
.venue-scale img:hover{
	transform:scale(1.2)
}

/* venue section end */
/* hotel section start */

.hotel{
	background-color:#f6f7fd;
	padding:3rem 0 2rem 0;
}
.hotel-img{
	width:auto;
	overflow:hidden;
}
.hotel-img img{
	width:100%;
	height:auto;
	transition:all 0.3s linear;
}
.hotel-img:hover img{
	transform:scale(1.3);
}
.hotel-content{
	padding:1rem;
}
.hotel-content h2{
	font-size:25px;
}
.hotel-icon{
	display:flex;
	gap:0.5rem;
	padding-bottom:0.5rem;
}
.hotel-icon i{
	color:gold;
}

/* hotel section end */
/* gallery section start */

.gallery{
padding:1rem 0 0rem 0;	
}
.gallery-img{
	width:100%;
	transition:0.2s all linear;
}
.gallery-img img{
	width:100%;
	height:auto;
	transition:0.2s all linear;
}
.gallery-img:hover{
	
}
.gallery-img:hover img{
	transform:scale(1.2);
	border:3px solid white;
	outline:3px solid red;
}

/* gallery section end */
/* sponser section start */

.sponser{
	background-color:#f6f7fd;
	padding:3rem 0 2rem 0;
}
.danger .col-lg-3{
	overflow:hidden;
	border:1px solid #b1a8a899;
}
.spon-img{
	width:100%;
	overflow:hidden;
	margin-left:10px;
	transition:0.2s all linear;
	padding:40px;
}
.spon-img img{
	width:100%;
	height:auto;
	transition:0.2s all linear;
}
.spon-img:hover img{
	transform:scale(1.2);
}

/* sponser section end */
/* faq section start */
.faq{
	padding:1rem 0 0rem 0;
}
.accordion-flush .accordion-item .accordion-button {
    font-size: 1.2rem;
}
.accordion-button:not(.collapsed) {
    font-size: 1.2rem;
    color: #e42a0c !important;
}
.accordion-body{
	font-size:1.1rem;
}

/* faq section end */
/* news section start */

.news{
	width: 100%;
	height:auto;
    background:linear-gradient(#02184a9e,#02184a9e), 
	url(../img/subscribe-bg.jpg) top center;
    background-size: cover;
    overflow: hidden;
	background-attachment:fixed;
    position: relative;
    color: #fff;
    padding: 60px 0 50px 0;
 }
 
	/* news section end */
	/* pricing section start */
	
.pricing{
	background-color:#f6f7fd;
	padding:3rem 0 2rem 0;
}
.box{
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	margin-top:0.5rem;
}
.card{
	padding:0 10px;
	background-color:white;
}
.card-head{
	padding:2rem 0 0.5rem 0;
	text-align:center;
	border-bottom:1px solid #a0a6ab;
}
.card-head h3{
	font-size:1rem;
	font-weight:700;
	color:#a0a6ab;
}
.card-head p{
	font-size:3rem;
	color:#0e1b4d;
}
.card-body li{
	padding:5px 0;
	font-size:1.25rem;
}
.card-body span{
	color:#a0a6ab;
}
.card-foot{
	padding:1rem 0;
	border-top:1px solid #a0a6ab;
}

/* pricing section end */
/* contact section start */

.contact{
	padding:1rem 0 0rem 0;
}
.contact-content{
	border-right:2px solid #e1d7d769;
}
.contact-content i{
	font-size:4rem;
	color:red;
	text-align:center;
}
.contact-content h2{
	font-size:1.5rem;
	color:#0e1b4d;
	padding:5px;
	text-align:center;
}
.contact-content p{
	font-size:1.2rem;
	padding:5px;
	text-align:center;
}
.contact-content a{
	text-decoration:none;
	font-size:1.2rem;
	padding:5px;
	text-align:center;
}
.contact-content a:hover{
	color:red;
}

/* contact section end */
/* footer section start */

.footer{
	background-color:black;
}
.footer-content h3{
	color:white;
	font-size:1.2rem;
	padding-bottom:5px;
	border-bottom:2px solid red;
}
.footer-content p{
	color:#efece1;
}
.footer-content li{
	color:#efece1;
	list-style:none;
	padding:10px 0;
	border-bottom:1px solid #e1d7d769;
	text-transform:capitalize;
	font-size:1rem;
}
.footer-content li:hover{
	color:red;
}
.address-icon a{
	width:30px !important;
	height:30px;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:#e1d7d769;
}
.address-icon a:hover{
	background-color:red;
}
.address-icon a i{
	color:white;
}

/* footer section end */
/* copyright section start */

.copyright{
	background-color:#101522;
}
.copy p{
	color:#e1d7d769;
}
.copy span{
	color:red;
}
/* website all section end here */
/* css ended here */
